<h1>Peer to Peer</h1>

<h2>Root Episodes</h2>

<p>
  Filter by:
  {{view "select" content=(list null "isRoot") value=selectedFilter}}
</p>

{{#x-list items=model filterBy=selectedFilter as |episode|}}
  {{link-to episode.challengeName "episode" episode}}
{{/x-list}}
